h1{
    color:rgb(219, 250, 215);
}

body{
    background-image: url('Pictures/light-multicolor.jpg');
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}

.HBD{
    text-align:center;
    margin: 0;
    font-size:3em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  
}
.sithara{
    max-width: 400px ;
    width:-1000px;
    margin: auto;
}

